/*Reset css*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Helpers*/
.container {
    margin: 0 auto;
    padding: 2rem;
}

/*Start of the site -------------------------------------------*/
/*Header*/
.navbar {
    width: 100%;
    height: 25vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    position: fixed;
    z-index: 10;
    gap: 2rem;
    transition: height .6s ease-in-out;
}

.logo-container {
    padding-top: 3rem;
    padding-left: 2rem;
}

.networks {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #000;
}

.networks-list {
    display: flex;
    gap: 2rem;
    font-size: 2em;
    padding: .2rem 3rem 0 0;
    color: #EFEFEF;
    z-index: 9;
}

.networks-list li {
    transition: .3s ease-in-out;
}

.networks-list li:hover {
    transform: translateY(-4px);
}

.navbar-list.active {
    width: 100%;
    min-height: 100vh;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    z-index: 10;
}

.navbar-list {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-weight: 400;
    padding-top: 5rem;
}

.navbar-list a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
    font-size: 1.8em;
}

.about-link,
.service-link,
.tips-link,
.contact-link,
.faqs-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: 4rem;
    flex-grow: 1;
    text-align: center;
    z-index: 3;
    position: relative;
}

.about-link::before,
.service-link::before,
.tips-link::before,
.contact-link::before,
.faqs-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFF500;
    z-index: -1;
    transition: height 0.3s ease-in-out;
}

.about-link:hover::before,
.service-link:hover::before,
.tips-link:hover::before,
.contact-link:hover::before,
.faqs-link:hover::before {
    height: 40%;
}

.join-us-link button {
    font-size: 1.8em;
    padding: 1rem;
    width: 15rem;
}

.btn {
    width: 10rem;
    transition: .2s ease-in-out;
    font-weight: 400;
}

.btn:hover {
    background-color: #FFF500;
}

.custom-btn {
    color: #000;
    border: 2px solid #FFF500;
}

.logo {
    width: 5rem;
    cursor: pointer;
    animation: logoAnimation .7s ease-out forwards;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-container span {
    font-size: 3em;
    font-weight: 800;
    opacity: 0;
}

.container-text-domo span:nth-child(1) {
    animation: fadeInFromLeft 0.5s ease-in-out .7s forwards;
}

.container-text-domo span:nth-child(2) {
    animation: fadeInFromLeft 0.5s ease-in-out 1s forwards;
}

.container-text-domo span:nth-child(3) {
    animation: fadeInFromLeft 0.5s ease-in-out 1.3s forwards;
}

.container-text-domo span:nth-child(4) {
    animation: fadeInFromLeft 0.5s ease-in-out 1.6s forwards;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.burger {
    display: none;
}

.vbp-header-menu-button__svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scaleX(-1);
}

.vbp-header-menu-button__svg line {
    stroke: #8b8b8b;
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    transition: transform 0.3s, stroke-dashoffset .4s;
    transform-origin: center;
    stroke-width: 3px;
}

.vbp-header-menu-button__svg .top {
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(35%);
    -ms-transform: translateY(35%);
    -o-transform: translateY(35%);
}

.vbp-header-menu-button__svg .middle {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transition: opacity .3s, transform .3s;
    -webkit-transition: opacity .3s, transform .3s;
    -moz-transition: opacity .3s, transform .3s;
    -ms-transition: opacity .3s, transform .3s;
    -o-transition: opacity .3s, transform .3s;

}

.vbp-header-menu-button__svg .bottom {
    transform: translateY(33%);
    -webkit-transform: translateY(33%);
    -moz-transform: translateY(33%);
    -ms-transform: translateY(33%);
    -o-transform: translateY(33%);
    stroke-dasharray: 100%;
    stroke-dashoffset: 9px;
}

.vbp-header-menu-button__svg:hover .bottom {
    stroke-dashoffset: 0%;
}

/*** Mode Croix ***/
body.menu-open .vbp-header-menu-button__svg .top {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .middle {
    transform: scaleX(0.1);
    -webkit-transform: scaleX(0.1);
    -moz-transform: scaleX(0.1);
    -ms-transform: scaleX(0.1);
    -o-transform: scaleX(0.1);
    opacity: 0;
}

body.menu-open .vbp-header-menu-button__svg line.bottom {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .bottom {
    stroke-dashoffset: 0%;
}

/*Main section -------------------------------------------*/
/*Main*/
.main {
    min-height: 100vh;
    z-index: 0;
    overflow-x: hidden;
}

.text-container {
    position: absolute;
    z-index: 2;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 80rem;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.text-container button {
    font-size: 1.8em;
    width: 15rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border: transparent;
    font-weight: 600;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    animation-delay: 0.4s;
}

.text-container button svg {
    transition: .3s ease-in-out;
}

.text-container button:hover svg {
    transform: translateX(5px)
}

.text-container h1 {
    font-size: 5em;
    padding-bottom: 2rem;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    animation-delay: 0.2s;
}

.text-container p {
    font-size: 2em;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    animation-delay: 0.3s;
}

.btn-primary {
    background-color: #fff;
    border: transparent;
    color: #000;
    font-size: 2em;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-primary:hover {
    background-color: #ffffffc5;
}

.main-container {
    position: relative;
}

.arrow-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: transparent;
    font-size: 4em;
    color: #fff;
    animation: moveUpDown 1s infinite alternate;
}

@keyframes moveUpDown {
    from {
        transform: translateY(6px);
    }

    to {
        transform: translateY(-6px);
    }
}

.slide img {
    height: 100vh;
    object-fit: cover;
    position: center;
    filter: brightness(60%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3em;
    height: 3em;
}

.container-info-cards {
    width: 100%;
}

.first-info-card,
.second-info-card,
.third-info-card,
.fourth-info-card {
    height: 34rem;
    padding: 3rem;
    position: relative;
}

.first-info-card h2,
.second-info-card h2,
.third-info-card h2,
.fourth-info-card h2 {
    font-size: 1.8em;
    padding-bottom: 1.5rem;
}

.first-info-card p,
.second-info-card p,
.third-info-card p,
.fourth-info-card p {
    font-size: 1.5em;
}

.first-info-card {
    background-color: #FFF500;
}

.second-info-card {
    color: #000;
    background-color: #fff70089;
}

.third-info-card {
    color: #fff;
    background-color: #000;
}

.fourth-info-card {
    background-color: #fff;
    color: #8b8b8b;
}

.btn-arrow-go {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-arrow-go svg {
    transition: .3s ease-in-out;
}

.btn-arrow-go svg:hover {
    transform: translateX(5px);
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
}

.g-4,
.gy-4 {
    --bs-gutter-y: 0;
}

/*About section -------------------------------------------*/
/*About*/
.about {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container-text h1 {
    font-size: 5em;
    padding-bottom: 5rem;
    font-weight: 600;
    z-index: 2;
    position: relative;
    width: 30rem;
    height: 10rem;
}

.about-container-text h1::before {
    content: '';
    width: 0;
    height: 2rem;
    background-color: #FFF500;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expandWidth .8s forwards;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.about-container-text p {
    font-size: 1.8em;
    max-width: 50rem;
    padding-bottom: 3rem;
}

.about-container-text button {
    font-size: 1.5em;
    width: 15rem;
    padding: 1rem;
    background-color: #000;
    color: #FFF500;
    font-weight: 600;
}

.about-container-text button svg {
    transition: .3s ease-in-out;
}

.about-container-text button:hover svg {
    transform: translateX(5px)
}

.about-container-image {
    display: flex;
    justify-content: center;
}

.about-container-image img {
    width: 60rem;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.about-container-image img:hover {
    filter: grayscale(0%);
}

/*Servicies section -------------------------------------------*/
/*Servicies*/
.servicies {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #EFEFEF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

.servicies-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicies-container-text h1 {
    font-size: 5em;
    padding-bottom: 5rem;
    font-weight: 600;
    z-index: 2;
    position: relative;
    width: 30rem;
    height: 10rem;
    color: #FFF500;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.servicies-container-text p {
    font-size: 1.8em;
    max-width: 50rem;
    padding-bottom: 3rem;
}

.servicies-container-text button {
    font-size: 1.5em;
    width: 15rem;
    padding: 1rem;
    background-color: #000;
    border: 1px solid #FFF500;
    color: #FFF500;
    font-weight: 600;
}

.servicies-container-text button svg {
    transition: .3s ease-in-out;
}

.servicies-container-text button:hover svg {
    transform: translateX(5px)
}

.container-card-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 35rem;
    height: 27rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-services-get {
    position: absolute;
    width: 100%;
    height: 6rem;
    border: transparent;
    bottom: 0;
    font-size: 1.8em;
    background: #fff;
    border: transparent;
    transition: .3s ease-in-out;
}

.btn-services-get:hover {
    background: #FFF500;
    color: #000
}

.card p {
    font-size: 1.5em;
}

.card h4 {
    color: #fff;
    font-size: 3em;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.card img {
    object-fit: cover;
    transition: .5s ease-in-out;
    filter: brightness(50%);
}

.card img:hover {
    transform: scale(1.1);

}

/*Contact section -------------------------------------------*/
/*Contact*/
.contact {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEFEF;
    padding: 5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container-contact h1 {
    font-size: 5em;
    padding-bottom: 5rem;
    font-weight: 600;
    z-index: 2;
    position: relative;
    width: 30rem;
    height: 10rem;
}

.container-contact h1::before {
    content: '';
    width: 0;
    height: 2rem;
    background-color: #FFF500;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expandWidth .8s forwards;
}

.container-contact p {
    font-size: 1.8em;
    max-width: 50rem;
}

.form {
    width: 50%;
    padding: 2rem;
}

.form label {
    font-size: 1.8em;
}

.form input {
    width: 100%;
    padding: 2rem;
    font-size: 1.5em;
}

.form button {
    width: 15rem;
    font-size: 1.8em;
    padding: 1rem;
    color:#000;
}

.form textarea {
    height: 25rem;
}

#mail-to {
    opacity: 0;
}

/*Footer section -------------------------------------------*/
/*Footer*/
.footer {
    width: 100%;
    min-height: 80vh;
    background-color: #FFf;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 5rem 5rem 2rem 5rem;
}

.footer-container-text img {
    width: 30rem;
}

.footer-container-map-and-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-container-items ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-container-items li {
    font-size: 1.8em;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-container-networks {
    display: flex;
    justify-content: flex-end;
}

.networks-list-footer li {
    transition: .3s ease-in-out;
}

.networks-list-footer li:hover {
    transform: translateY(-4px);
}

.networks-list-footer {
    display: flex;
    gap: 2rem;
    font-size: 2em;
    padding: .2rem 3rem 2rem 0;
    color: #000;
}

.copy-and-up {
    width: 100%;
    height: 5rem;
    padding: 2rem 0 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #FFf;
}

.copy-and-up h4 {
    font-size: 1.3em;
}

.up {
    font-size: 2em;
    width: 8rem;
    height: 5rem;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.up svg {
    transition: .3s ease-in-out;
}

.up:hover svg {
    transform: translateY(-5px);
}

/*Map*/
.leaflet-container {
    width: 60vw;
    height: 60vh;
    border-radius: 5px;
    z-index: 1;
}

/*Media querys -------------------------------------------*/
/*tablet*/
@media (max-width: 1140px) {
    .servicies {
        flex-wrap: wrap;
    }

    .contact {
        flex-wrap: wrap;
    }

    .form {
        width: 80%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container-map-and-items {
        justify-content: center;
    }

    .footer-container-networks {
        padding-top: 2rem;
        justify-content: center;
    }

    .copy-and-up {
        padding: 2rem 0 2rem 1rem;
    }

    .copy-and-up h4 {
        font-size: 1.2em;
    }

    .logo-container span {
        display: none;
    }

    .networks {
        display: none;
    }

    .header.expanded {
        height: 10rem;
    }

}
@media (max-width: 768px) {

    .burger {
        display: block;
        padding-right: 2rem;
        z-index: 12;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-list {
        display: none;
    }

    .logo-container {
        padding-top: 1rem;
        padding-left: 3rem;
    }

    .about-link::before,
    .service-link::before,
    .tips-link::before,
    .contact-link::before,
    .faqs-link::before {
        background-color: transparent;
    }

    .about-link:hover::before,
    .service-link:hover::before,
    .tips-link:hover::before,
    .contact-link:hover::before,
    .faqs-link:hover::before {
        height: 0;
    }

    .btn:hover {
        background-color: #FFF500;
        color: #000;
    }

    .custom-btn {
        color: #FFF500;
        border: 2px solid #FFF500;
    }


    .text-container p {
        display: none;
    }

    .btn-primary {
        display: none;
    }

    .arrow-down {
        display: none;
    }

    .about {
        gap: 5rem;
    }

    .about-container-image img {
        width: calc(95%);
    }

    .card {
        width: 100%;
    }
}